#system-body{
    display: flex;
    width: 100%;
    box-sizing: content-box;
}

.system-settings{
    display: flex;
    flex-direction: column;
    width: 64%;
}

.system-options{
    display: flex;
    height: 35px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.system-option{
    font-size: 1.5em;
    padding: 0 2% 0 2%;
}

#system-body .selected{
    color: #ADD8E6;
    background-color: #111111;
}

.menu-controls{
    display: flex;
    justify-content: center;
}