#fan-body{
    display: flex;
    width: 100%;
    box-sizing: content-box;
    padding-top: 1%;
}

.fan-settings{
    display: flex;
    flex-direction: column;
    width: 64%;
}

.fan-options{
    display: flex;
    height: 35px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.fan-option{
    font-size: 1.25em;
    padding: 2% 2% 0 2%;
}

#fan-body .selected{
    color: #ADD8E6;
    background-color: #111111;
}

#fan-body .menu-controls{
    display: flex;
    justify-content: center;
}


