.thermostat-textbox{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 30%;
}

.info-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.info-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
}

.info-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin-bottom: 35px;
}

.thermostat-info{
    display: flex;
    flex-direction: row;
    height: 55%;
}

.temp-reading{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;
    text-align: center;
    margin-bottom: 5px;
}

.set-info{
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 5px 5px 0 0;
}

.schedule-info{
    min-width: 50px;
    margin-right: 5px;
}

.set-controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-right: 24px;
}

.temp-button{
    height: 25px;
    width: 50px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 2px;
}

.temp-button img{
    height: 25px;
}

.humidity-reading{
    display: flex;
    width: 48%;
    justify-content: space-between;
    margin: 0 auto 0 auto;
}

/* Override / Resume Schedule */
.update-schedule-status{
    display: flex;
    margin: 2% 0 0 2%;
}

.schedule-status{
    width: 80px !important;
    height: 35px !important;
}

.hidden-text{
    color: transparent;
}

/* Led Displays */
.led-displays{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 550px;
    width: 550px;
}

.led-display-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 5px;
    padding: 4% 25.5% 4% 25.5%;
    background-color: #D5D6D8;
}
.display img{
    width: 25px;
}

.display{
    display: flex;
    justify-content: start;
    align-items: center;
}