h1{
    text-align: center;
}

.thermostat-body{
    display: flex;
    justify-content: center;
    width: 100%;
    /*background-color: yellow;*/
    background-image: url('./assets/Thermostat.png');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
}

.thermostat-content{
    display: flex;
    flex-direction: column;
    /*background-color: red;*/
    height: 290px;
    width: 388px;
    margin: auto;
    transform: translateY(2px);
}



.thermostat-textbox{
    display: flex;
    flex-direction: column;
    text-align: center;
    /*background-color: green;*/
    height: 30%;
}

.thermostat-info{
    display: flex;
    flex-direction: row;
    height: 55%;
}

.info-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.info-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
}

.temp-reading{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.set-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: end;
}

.set-controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temp-button{
    height: 25px;
    width: 50px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 2px;
}

.temp-button img{
    height: 25px;
}

.humidity-reading{
    display: flex;
    width: 48%;
    justify-content: space-between;
    margin: 0 auto 0 auto;
}
/* Led Displays */
.led-displays{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}

.display img{
    width: 25px;
}

.display{
    display: flex;
    justify-content: start;
    align-items: center;
}