h1{
    text-align: center;
}

#main-container{
    margin: auto;
    max-width: 1920px;
    min-width: 400px;
}

.thermostat-body {
    display: flex;
    justify-content: center;
    min-height: 500px;
    width: 550px;
    margin: 1% auto;
    background-image: url('./assets/Thermostat.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.thermostat-content{
    display: flex;
    flex-direction: column;
    /*background-color: red;*/
    height: 290px;
    width: 388px;
    margin: auto;
    transform: translateY(2px);
}

#app{
    margin: auto;
}

.heading {

}